container.body-drip
  spacer(size="16")
  div.content
    center
      img.logo(src="https://www.sdhacks.io/assets/img/logo-small.png")
    row
      columns
        h3 Dear #{user.firstName} #{user.lastName},
        p You have successfully applied to SD Hacks 2017! We just need you to confirm your email by going to #{confirmUrl}