.sd-footer {
  position: relative;
  z-index: 3;
  background-color: $dark-blue;
  color: $white !important;
  min-height: 100px;
  padding: 2rem;
  text-align: center;

  p {
    font-size: 1.2em;
    margin-bottom: 0;
  }

  a {
    line-height: 10px;
    text-transform: uppercase;
    font-weight: bold;
  }

  @include media-breakpoint-up(md) {
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    height: 180px;
    justify-content: center;
    height: 230px;
    align-items: center;

    img {
      margin-top: 4px;
    }

    p {
      line-height: 50px;
    }
  }

  .aligned {
    margin-top: 37px;
  }

  &__social {
    font-size: 2rem;

    @include media-breakpoint-up(md) {
      font-size: 2rem;
    }

    a:not(:last-child) {
      margin-right: 20px;
    }

    .fa {
      color: $white;
    }
  }
}