.sd-footer {
  position: relative;
  z-index: 3;
  background-color: $default-blue;
  color: $white !important;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 0 1rem;
  height: 180px;
  align-items: center;

  p {
    font-size: 1.2em;
    margin-bottom: 0;
  }

  a {
    line-height: 10px;
    text-transform: uppercase;
    font-weight: bold;
  }

  @include media-breakpoint-up(lg) {
  }

  @include media-breakpoint-up(md) {
    justify-content: center;
    height: 230px;

    img {
      margin-top: 4px;
    }

    p {
      line-height: 50px;
    }
  }

  .aligned {
    margin-top: 37px;
  }

  &__tesc {
    max-width: 150px;
    position: absolute;
    right: 1rem;

    @include media-breakpoint-up(sm) {
      right: 4rem;
    }
  }

  &__social {
    font-size: 2rem;

    @include media-breakpoint-up(md) {
      font-size: 2rem;
    }

    a:not(:last-child) {
      margin-right: 20px;
    }

    .fa {
      color: $white;
    }
  }
}