//Include fonts
@import 'https://fonts.googleapis.com/css?family=Varela+Round:400,500,600,700,300,200';

$body-font-family: 'Varela Round', Helvetica, Roboto, Arial, sans-serif !default;

* {
  color: $global-text-color;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: $primary-color;
}

p {
  font-size: 1.1em;
}