.sd-card {
  box-shadow: $default-shadow;
  border-radius: $default-card-radius;
  border: $default-card-border;
  padding: 6px;
  margin-bottom: 1.4rem;

  &__img {
    height: 184px;

    &-novelty {
      position: relative;
      top: -64px;
    }
    @include media-breakpoint-down(md) {
      img {
        height: 90%;
      }
      &-novelty {
        top: -30px;

        img {
          height: 100%;
        }
      }
    }
    &-collaboration {
      padding-top: 16px;
    }
  }
  &__faq {
    border-color: $default-blue;
  }
}
