.sd-sponsors {
  position: relative;
  z-index: -1;
  padding-bottom: 8rem;

  &__background {
    position: absolute;
    top: -40vh;
    transform: skewY(-30deg);
    transform-origin: top center;
    z-index: -1;
    width: 100%;

    &:after {
      background-color: $white;
      content: '';
      display: block;
      min-height: 10vh;
      left: 0;
      position: absolute;
      right: 0;
      top: 20vh;
      z-index: 1;
    }
  }
  &__subtitle {
    margin-bottom: 2rem;
  }
}