mixin get-updates
  form.apply-form(method="post" target="_blank" action="https://sdhacks.us9.list-manage.com/subscribe/post?u=2b76757d9b200f72632d7330a&amp;id=d90c0e8b05" novalidate)
    input.apply-form__input-text.hexagon-hero__nav-input(type="email" placeholder="Email" name="EMAIL")
    br
    input.btn.rounded-button.hexagon-hero__nav-button(type="submit" value="Get Updates!")
