mixin get-updates
  form(method="post", target="_blank", action="https://sdhacks.us9.list-manage.com/subscribe/post?u=2b76757d9b200f72632d7330a&amp;id=d90c0e8b05", novalidate)
    input.hexagon-hero__nav-input.rounded-input(type="email", placeholder="Email", name="EMAIL")
    input.hexagon-hero__nav-button.hexagon-hero__nav-button.btn.rounded-button(type="button", value="Apply")