.checkin {
  min-height: 100vh;
  margin-top: 1rem;
  justify-content: center;

  &__background {
    position: fixed;
  }

  &__list {
    margin-top: 1rem;
    list-style: none;

    &-user {
      margin-bottom: 1rem;
    }
  }

  &__error {
    color: $accent-red;
    font-size: 1.5rem;
  }

  &__success {
    color: $accent-purple;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  &__name {
    border-bottom: 2px solid $accent-purple;
  }
}