hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.bordered {
  border-image: url(/assets/img/hexagon_border-dark.svg) 250 0 215 repeat;
  border-style: solid;
  background-color: $faq_bgcolor;
  background-clip: padding-box;
  color: $white;
  padding-top: 50px;
  margin-bottom: 75px;
  position: relative;
  top: -100px;

  h2 {
    margin-bottom: 35px;
  }

  h3 {
    // color: lighten($black, 25);
    margin-top: 10px;
    color: $faq_color;
  }

  p {
    color: $white;
  }

  a {
    color: inherit;
    border-bottom: 2px solid #fceaca;
    padding: 0 0 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

  }

  .tesc {
    max-width: 100px;
  }

  &--bg {
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: #026F88;
    z-index: -5;

    &.bg-top {
      top: -15px;

      &.footer-bg {
        background-color: #313131;
      }
    }

    &.bg-bottom {
      bottom: -15px;
    }
  }

  @media #{$medium-up} {
    .faq-left {
      padding-right: 20px;
    }
    .faq-right {
      padding-left: 20px;
    }
  }
}

.bordered-grey {
  border-image: url(/assets/img/hexagon_border-light.svg) 250 0 215 repeat;
  border-style: solid;
  background-color: #EEEEEE;
  background-clip: padding-box;
  padding-top: 50px;
  margin-top: 50px;
  position: relative;

  h2 {
    margin-bottom: 35px;
  }

  .schedule-event {
    color: $faq_bgcolor;
    margin: 0;
    font-size: 1.1em;
  }

  .schedule-link {
    color: $primary-color;
  }

  &--bg {
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: #EEEEEE;
    z-index: -5;

    &.bg-top {
      top: -15px;
    }

    &.bg-bottom {
      bottom: -15px;
    }
  }
}

.sponsor-interest {
  text-align: center;
  font-size: 1.1em;
}

.sponsors {
  padding-top: 20px;
  padding-bottom: 80px;
  text-align: center;

  img {
    padding: 0 12px 0 12px;
    margin-bottom: 40px;
    display: inline-block;
    max-width: 100%;
  }
  .platinum img {
    height: 75px;
    margin-left:20px;
    margin-right: 20px;
    margin-bottom: 20px;

    @media #{$medium-up} {
      height: 95px;
    }

    #logo-qualcomm {
      height: 80px;
    }
  }
  .gold img {
    height: 60px;
    margin-left:15px;
    margin-right: 15px;

    @media #{$medium-up} {
      height: 80px;
    }
  }
  .silver img {
    height: 45px;

    @media #{$medium-up} {
      height: 50px;
    }
  }
  .bronze img {
    height: 28px;

    @media #{$medium-up} {
      height: 32px;
    }
  }

  // Custom
  a#logo-iboss {
   margin-left: 20px;
   margin-right: 20px;

   img {
     height: 42px;

     @media #{$medium-up} {
       height: 45px;
     }
   }
  }
  a#logo-1517 img {
    height: 40px;

    @media #{$medium-up} {
      height: 50px;
    }
  }
  a#logo-a16z img {
    height: 34px;

    @media #{$medium-up} {
      height: 40px;
    }
  }
  a#logo-jsoe img,
  a#logo-oic img {
    height: 50px;

    @media #{$medium-up} {
      height: 60px;
    }
  }
  a#logo-perkinscoie img {
    height: 60px;

    @media #{$medium-up} {
      height: 75px;
    }
  }
  a#logo-edc img {
    height: 58px;

    @media #{$medium-up} {
      height: 78px;
    }
  }
  a#logo-gigabyte img {
    height: 70px;

    @media #{$medium-up} {
      height: 80px;
    }
  }
  a#logo-spawar img {
    height: 120px;

    @media #{$medium-up} {
      height: 200px;

      padding-bottom: 40px;
      margin-bottom: 0;
    }
  }
  a#logo-ga img {
    height: 42px;

    @media #{$medium-up} {
      height: 48px;
    }
  }
  a#logo-pickupstix img {
    height: 42px;

    @media #{$medium-up} {
      height: 46px;
    }
  }

  .t-shirts {
    p {
      text-align: center;
    }
    img {
      padding: 0;
      padding-left:15px;
      padding-right: 15px;
      height: 60px;

      @media #{$medium-up} {
        height: 70px;
      }
    }
  }
}

.section-header {
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.faq {
  color: $faq_color;
}

.schedule-wrapper {
  border-bottom: none;
  z-index: -6;
  padding-bottom: 60px;
}

.form-error {
  display: block;
  margin: 0;
  font-weight: 400;
  position: relative;
  top: -1em;
  font-size: 0.8em;
}
