mixin apply3
  .col-sm-12.text-center
    h2.sd-form__container--header Successfully Applied!
    h4.sd-form__container--subheader Check your email 
      span#js-sd-form__email
      |  for a confirmation link
