mixin apply3
  .col-sm-12.text-center
    h2.apply-form__container--header Successfully Applied!
    h4.apply-form__container--subheader Check your email 
      span#js-apply-form__email
      |  for a confirmation link
