$primary-color: #19A3C5;
$secondary-color: #00B4CC;
$success-color: #3adb76;
$warning-color: #F7B733;
$alert-color: #d34a32;

$sdhacks-alternate-blue: #106F87;

$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #EEEEEE;
$body-background: #FDFDFD;
$body-font-color: #4B4B4B;

$faq_bgcolor: #026F88;
$faq_color: lighten(#F8C773, 18);

$global-radius: 8px;